[submodule "libs/voronoi"]
	path = libs/voronoi
	url = https://github.com/gorhill/Javascript-Voronoi.git
[submodule "libs/noisejs"]
	path = libs/noisejs
	url = https://github.com/josephg/noisejs
[submodule "libs/seedrandom"]
	path = libs/seedrandom
	url = https://github.com/davidbau/seedrandom
[submodule "libs/poisson-disk-sample"]
	path = libs/poisson-disk-sample
	url = https://github.com/jeffrey-hearn/poisson-disk-sample
[submodule "libs/dat-gui"]
	path = libs/dat-gui
	url = https://github.com/dataarts/dat.gui
[submodule "libs/threejs"]
	path = libs/threejs
	url = https://github.com/mrdoob/three.js/
