html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding : 0;
}

body {
	background-color: #4864DB;
}

.wrapper {
  width: 95%;
  height: 95%;
  border: 2px solid #6780ea;
  position:absolute;
  top:50%;
  left:50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

canvas[resize] {
    width: 100%;
    height: 100%;
}